* {
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

body {
    background-color: #1e1e1e;
}

.cart-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    mask: url('./images/grocery-store.png') center / contain no-repeat;
    filter: invert(100%);
}


.cart-icon:hover {
    width: 30px;
    height: 30px;
    background-color: transparent;
    mask: url('./images/grocery-store.png') center / contain no-repeat;
    filter: invert(50%);
}